<div class="container w-50 container-botom-margin">
    <pc class="form-title">Create Album</pc>
    <hr class="my-1" />
    <form method="post" , action="/Albums/Create">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="Name..." />
        </div>
        <div class="form-group">
            <label for="cover">Cover</label>
            <input type="url" name="cover" class="form-control" id="cover" placeholder="Cover..." />
        </div>
        <hr class="my-1">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-6">
                    <div><button type="submit" class="btn btn-success">Create</button></div>
                </div>
                <div class="col-sm-6">
                    <a href="/Albums/All" class="btn btn-success btn-center">Back To All</a>
                </div>
            </div>
        </div>
    </form>
</div>