<div class="container w-50 container-botom-margin">
    <pc class="form-title">Create Track</pc>
    <hr class="my-1" />
    <form method="post" , action="/Tracks/Create?albumId={{albumId}}">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="Name..." />
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="Link">Link</label>
                <input type="url" name="Link" class="form-control" id="Link" placeholder="Link..." />
            </div>

            <div class="form-group col-sm-6">
                <label for="price">Price</label>
                <input type="text" name="price" class="form-control" id="price" placeholder="Price..." />
            </div>
        </div>
        <hr class="my-1">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-6">
                    <div><button type="submit" class="btn btn-success">Create</button></div>
                </div>
                <div class="col-sm-6">
                    <a href="/Albums/Details?id={{albumId}}" class="btn btn-success btn-center">Back To Album</a>
                </div>
            </div>
        </div>
    </form>
</div>