<div class="container w-50 container-bottom-margin">
    <pc class="form-title">Login</pc>
    <hr class="my-1"/>
    <form method="post" action="/Users/Login">
        <div class="form-group">
            <label for="usernameOrEmail">Username/Email</label>
            <input type="text" name="username" class="form-control" id="usernameOrEmail" placeholder="Username/Email..." />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password..." />
        </div>
        <div class="text-center"><input type="submit" class="btn btn-success" value="Login"/></div>
    </form>
</div>