<div class="container w-50 container-bottom-margin">
    <pc class="form-title">Register</pc>
    <hr class="my-1" />
    <form method="post" , action="/Users/Register">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="Username..." />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password..." />
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm Password..." />
        </div>
        <div class="form-group">
            <label for="username">Email</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Email..." />
        </div>
        <div class="text-center"><input type="submit" class="btn btn-success" value="Register" /></div>
    </form>
</div>